---
layout: default
---

<ul class="thumblist">
{% for person in site.data.people %}
  <li>
    <img class="portrait" src="{{ person.image }}" />
    <!-- <a href="https://github.com/{{ person.github }}"> -->
    <h2>{{ person.name }}</h2>
    <!-- </a> -->
    <h4>{{ person.title }}</h4>
    <p>
        {{ person.summary }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Alumni</h2>
<ul>
{% for alumnus in site.data.alumni %}
  <li>
    <h4>{{ alumnus.name }} ({{ alumnus.title }}, {{ alumnus.date }})</h4>
  </li>
{% endfor %}
</ul>

