<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-muted">&copy;2018: Davenport Lab</div>
      <div class="col-sm-4 text-right twitter-button-holder">
        <a href="https://twitter.com/ee_davenport?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ee_davenport</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</footer>
