/* Coolors Exported Palette - coolors.co/345891-8e9fbb-7381ac-b0b5c8-5375a7 */

/* HSL */
$color1: hsla(217%, 47%, 39%, 1);
$color2: hsla(217%, 25%, 65%, 1);
$color3: hsla(225%, 26%, 56%, 1);
$color4: hsla(228%, 18%, 74%, 1);
$color5: hsla(216%, 34%, 49%, 1);

// Additional
$grey: hsla(0%, 0%, 40%, 1);
$gold: hsla(48%, 100%, 50%, 1);
