---
---

@import "theme";

/* Show it is fixed to the top */
// From bootstrap template
body {
  padding-top: 4.5rem;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Limit portrait width */
img.portrait {
  width: 150px;
}

section {
  overflow:auto;
}

/* Small Jumbotron */
.jumbotron.small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// Banner
#banner.jumbotron {
  /*background-image: url("../img/banner.jpg");*/
  background-color: $color2;
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font: 14px/22px 'American Typewriter', "Courier New", Courier, Monaco, mono;
}

#banner.jumbotron h1 {
  font-size: 44px;
}

#banner.jumbotron h2 {
  font-size: 36px;
}

.twitter-button-holder {
  margin-top: 5px;
}
